<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head th:replace="fragments/head::headFragment">
</head>
<!-- 메인 -->
<div layout:fragment="content">
  <main class="main-area">
    <div id="msg-box">
      <h1>주문에 성공했습니다.</h1>
    </div>
    <form>
      <div class="mb-3" id="btn-area">
        <a class="btn btn-primary" th:href="@{/mall}">계속쇼핑</a>
        <a class="btn btn-primary" th:href="@{/index}">메인으로</a>
      </div>
    </form>
  </main>
</div>
</html>
