<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/adminLayout">
<th:block layout:fragment="css">
    <style>
        .btn-area {
            text-align: center;
        }
        .btn {
            background: lightgray;
            width: 300px;
            height: 200px;
            margin: 30px;
            line-height: 200px;
        }

        a{
            text-decoration: none;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>

<div layout:fragment="content">
    <div class="btn-area">
        <div class="btn">
            <a th:href="@{/admin/orders}">주문내역</a>
        </div>
        <div class="btn">
            <a th:href="@{/admin/book}">상품관리</a>
        </div>
        <br>
        <div class="btn">
            <a th:href="@{/admin/member}">고객관리</a>
        </div>
        <div class="btn">
            <a th:href="@{/admin/book}">매출</a>
        </div>
    </div>
</div>

</html>
