<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="css">
    <style>
        .main-area {
            max-width: 1140px;
            min-height: 600px;
            margin: 0 auto;
        }

        #title {
            margin-bottom: 30px;
        }

        .table {
            text-align: center;
        }

        .small-table {
            max-width: 960px;
            margin: 0 auto;
        }

        #btn-area {
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>

<!-- 메인 -->
<div layout:fragment="content">
    <main class="main-area">
        <div id="title">
            <h1>장바구니</h1>
        </div>
        <form name="orders" th:with="allPrice = 0" th:action="@{/orders/ordersPage}" method="post">
            <table class="table">
                <colgroup>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                </colgroup>
                <thead class="table-light">
                <tr>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                    <th scope="col">주문금액</th>
                    <th scope="col">선택</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(list)}" >
                <tr th:each="cart : ${list}">
                    <td th:text="${cart.book.book_nm}"></td>
                    <td th:text="|${#numbers.formatInteger(cart.book.book_price, 0, 'COMMA')}원|"></td>
                    <td>
                        <input type="number" th:value="${cart.cart_qty}" min="1" max="99" name="cart_qty">
                    </td>
                    <td th:text="|${#numbers.formatInteger(cart.book.book_price * cart.cart_qty, 0, 'COMMA')}원|"></td>
                    <td>
                        <input type="checkbox" name="cart_no" th:value="${cart.cart_no}" class="check" value="check" checked>
                    </td>
                    <td>
                        <a th:href="@{/member/deleteCart(cart_no=${cart.cart_no})}" class="btn btn-primary">삭제</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="background: #727272"></td>
                </tr>
                <tr>
                    <th>총 상품가격</th>
                    <td th:text="|${#numbers.formatInteger(list[0].sum, 0, 'COMMA')}원|" colspan="2"></td>
                    <th>적립되는 마일리지</th>
                    <td th:text="|${#numbers.formatInteger(list[0].sum * 0.05, 0, 'COMMA')}원|" colspan="2"></td>
                </tr>
                </tbody>
                <tbody th:unless="${not #lists.isEmpty(list)}">
                    <tr>
                        <td colspan="6">장바구니에 담긴 책이 없습니다.</td>
                    </tr>
                </tbody>
            </table>

            <table class="table small-table table-light">
                <tbody>
                </tbody>
            </table>

            <br>

            <div class="mb-3" id="btn-area">
                <span th:if="${not #lists.isEmpty(list)}">
                    <input class="btn btn-primary" type="button" value="이전화면" onclick="history.back()">
                    <input class="btn btn-primary" type="submit" value="선택한 상품 구매">
                </span>
                <span th:unless="${not #lists.isEmpty(list)}">
                    <input class="btn btn-primary" type="button" value="이전화면" onclick="history.back()">
                    <a class="btn btn-primary" th:href="@{/mall/searchBook}">도서 검색</a>
                    <a class="btn btn-primary" th:href="@{/mall/bestSeller}">베스트셀러</a>
                </span>
            </div>
        </form>
    </main>
</div>
</html>