<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="css">
    <style>
        .main-area {
            max-width: 1140px;
            min-height: 600px;
            margin: 0 auto;
        }

        #title {
            margin-bottom: 30px;
        }

        .table {
            text-align: center;
        }

        .small-table {
            max-width: 960px;
            margin: 0 auto;
        }

        #btn-area {
            text-align: center;
        }
    </style>
</th:block>

<!-- 메인 -->
<div layout:fragment="content">
    <main class="main-area">
        <div id="title">
            <h1>장바구니</h1>
        </div>
        <form  th:with="allPrice = 0">
            <table class="table">
                <colgroup>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                </colgroup>
                <thead class="table-light">
                <tr>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                    <th scope="col">주문금액</th>
                    <th scope="col">선택</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${list}">
                    <td th:text="${cart.book.book_nm}">가나다</td>
                    <td th:text="|${#numbers.formatInteger(cart.book.book_price, 0, 'COMMA')}원|">15,000원</td>
                    <td>
                        <input type="number" th:value="${cart.cart_qty}"    min="1" max="99" name="orders_qty">
                    </td>
                    <td th:text="|${#numbers.formatInteger(cart.book.book_price * cart.cart_qty, 0, 'COMMA')}원|">15,000원</td>
                    <td>
                        <input type="checkbox" name="check" class="check">
                    </td>
                    <td>
                        <a th:href="@{/member/deleteCart(cart_no=${cart.cart_no})}" class="btn btn-primary">삭제</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="background: #727272"></td>
                </tr>
                <tr>
                    <th>총 상품가격</th>
                    <td th:text="|${#numbers.formatInteger(list[0].sum, 0, 'COMMA')}원|" colspan="2">15,000원</td>
                    <th>적립되는 마일리지</th>
                    <td th:text="|${#numbers.formatInteger(list[0].sum * 0.05, 0, 'COMMA')}원|" colspan="2">150원</td>
                </tr>
                </tbody>
            </table>

            <table class="table small-table table-light">
                <tbody>
                </tbody>
            </table>

            <br>

            <div class="mb-3" id="btn-area">
                <input class="btn btn-primary" type="submit" value="이전화면">
                <input class="btn btn-primary" type="submit" value="선택구매">
                <input class="btn btn-primary" type="submit" value="전체구매">
            </div>
        </form>
    </main>
</div>
</html>