<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="css">
    <style>
        .main-area {
            max-width: 1140px;
            min-height: 600px;
            margin: 0 auto;
        }

        #title {
            margin-bottom: 30px;
        }

        .table {
            text-align: center;
        }

        .small-table {
            max-width: 960px;
            margin: 0 auto;
        }

        #btn-area {
            text-align: center;
        }
    </style>
</th:block>

<!-- 메인 -->
<div layout:fragment="content">
    <main class="main-area">
        <div id="title">
            <h1>장바구니</h1>
        </div>
        <form>
            <table class="table">
                <colgroup>
                    <col width="30%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                </colgroup>
                <thead class="table-light">
                <tr>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                    <th scope="col">주문금액</th>
                    <th scope="col">선택</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>가나다</td>
                    <td>15,000원</td>
                    <td>
                        <input type="number" value="1" min="1" max="99">
                    </td>
                    <td>15,000원</td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="button" value="삭제">
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table small-table table-light">
                <tbody>
                <tr>
                    <td>총 상품가격</td>
                    <td>15,000원</td>
                    <td>마일리지</td>
                    <td>150원</td>
                </tr>
                <tr>
                    <td>총 주문 상품수</td>
                    <td>1권</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>총 결제 금액</th>
                    <td>15,000원</td>
                    <th>총 적립 마일리지</th>
                    <td>150원</td>
                </tr>
                </tbody>
            </table>

            <br>

            <div class="mb-3" id="btn-area">
                <input class="btn btn-primary" type="submit" value="이전화면">
                <input class="btn btn-primary" type="submit" value="선택구매">
                <input class="btn btn-primary" type="submit" value="전체구매">
            </div>
        </form>
    </main>
</div>
</html>