<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<!-- 메인 -->
<div layout:fragment="content">
    <!-- 본문 영역 -->
    <div class="btn-area">
        <div class="btn">
            <a th:href="@{/member/updateMember}">정보수정</a>
        </div>
        <div class="btn">
            <a th:href="@{/member/cart}">장바구니</a>
        </div>
        <br>
        <div class="btn">
            <a th:href="@{/member/myOrders}">나의 주문</a>
        </div>
        <div class="btn">
            <a th:href="@{/member/withdraw}">회원탈퇴</a>
        </div>
    </div>
</div>
</html>