<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/adminLayout">

<th:block layout:fragment="css">
  <style>
    .table {
      width: 80%;
      margin: 0 auto;
    }

    .input-group {
      max-width: 480px;
      margin: 0 auto;
    }

    .pagination {
      justify-content: center;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script>

  </script>
</th:block>

<div layout:fragment="content">
  <br>
  <form th:action="@{/admin/member/searchMember}" class="input-group mb-3">
    <input type="search" class="form-control" placeholder="이름 혹은 아이디로 검색" aria-describedby="button-addon2" th:name="searchKeyword">
    <input class="btn btn-outline-secondary" th:type="submit" id="button-addon2" value="검색">
  </form>
  <div class="table-responsive">
    <form>
      <table class="table table-bordered table-hover">
        <colgroup>
          <col width="10%"/>
          <col width="10%"/>
          <col width="10%"/>
          <col width="10%"/>
          <col width="25%"/>
          <col width="15%"/>
          <col width="10%"/>
          <col width="10%"/>
        </colgroup>
        <thead class="thead-light">
        <tr>
          <th scope="col">회원번호</th>
          <th scope="col">아이디</th>
          <th scope="col">회원이름</th>
          <th scope="col">전화번호</th>
          <th scope="col">주소</th>
          <th scope="col">이메일</th>
          <th scope="col">마일리지</th>
          <th scope="col">정보관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" member : ${list}">
          <td th:text="${member.mem_no}">1,001</td>
          <td th:text="${member.mem_uid}">random</td>
          <td th:text="${member.mem_nm}">data</td>
          <td th:text="${member.mem_phoneNo}">000-0000-0000</td>
          <td th:text="|${member.mem_addr1} ${member.mem_addr2} ${member.mem_addr3}|">부산광역시</td>
          <td th:text="${member.mem_email}">c@c.com</td>
          <td th:text="${member.mem_mileage}">1,000</td>
          <td>
            <a class="btn btn-primary" th:href="@{/admin/member/updateMember(mem_no=${member.mem_no})}">정보관리</a>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
    </form>
  </div>
  <br>
  <th:block layout:fragment="paging">
    <nav th:replace="fragments/common :: pagination" class="pagination"></nav>
  </th:block>
</div>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    function movePage(uri, queryString) {
      location.href = uri + queryString;
    }

    /*]]>*/
  </script>
</th:block>
</html>