<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나와책::Me&Book</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/css/common.css" rel="stylesheet">
</head>
<body>

<h2>회원 관리</h2>
<div class="table-responsive">
  <form>
  <table class="table table-hover">
    <colgroup>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="25%"/>
      <col width="15%"/>
      <col width="10%"/>
      <col width="10%"/>
    </colgroup>
    <thead class="thead-light bg-info">
    <tr>
      <th scope="col">회원번호</th>
      <th scope="col">아이디</th>
      <th scope="col">회원이름</th>
      <th scope="col">전화번호</th>
      <th scope="col">주소</th>
      <th scope="col">이메일</th>
      <th scope="col">마일리지</th>
      <th scope="col">정보관리</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1,001</td>
      <td>random</td>
      <td>data</td>
      <td>000-0000-0000</td>
      <td>부산광역시</td>
      <td>c@c.com</td>
      <td>1,000</td>
      <td>
        <input type="button" value="정보관리">
      </td>
    </tr>
    <tr>
      <td>1,001</td>
      <td>random</td>
      <td>data</td>
      <td>000-0000-0000</td>
      <td>부산광역시</td>
      <td>c@c.com</td>
      <td>1,000</td>
      <td>
        <input type="button" value="정보관리">
      </td>
    </tr>
    <tr>
      <td>1,001</td>
      <td>random</td>
      <td>data</td>
      <td>000-0000-0000</td>
      <td>부산광역시</td>
      <td>c@c.com</td>
      <td>1,000</td>
      <td>
        <input type="button" value="정보관리">
      </td>
    </tr>
    </tbody>
  </table>
  </form>
</div>

    <!-- 부트스트랩 설정 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
