#title{
    text-align: center;
    margin-right: 100px;
    margin-bottom: 30px;
}
#btn-area{
    text-align: right;
    margin-right: 10%;
}
.table {
    text-align: center;
}

.small-table {
    max-width: 960px;
    margin: 0 auto;
}
.main-area {
    max-width: 1140px;
    min-height: 600px;
    margin: 0 auto;
}
.table-light td{
    text-align: right;
    padding-right: 30px;
}
.table{
    width: 100%;
}
.mb-3{
    margin: 0 auto;
    width: 90%;
}
.btn-area{
    text-align: right;
    padding-right: 10%;
}
#shelf{
    margin: 0 auto;
    width: 90%;
}