<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head th:replace="fragments/head::headFragment">
</head>
<!-- 메인 -->
<div layout:fragment="content">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/mall.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mall.css}">
    <!-- 본문 영역 -->
    <div class="shelf-wrapper">
        <h1>검색 결과</h1>
        <table class="table table-hover" id="shelf">
            <colgroup>
                <col width="25%">
                <col width="20%">
                <col width="10%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
            </colgroup>
            <thead class="table table-light">
                <tr>
                    <th>표지</th>
                    <th>제목</th>
                    <th>작가</th>
                    <th>출판사</th>
                    <th>가격</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${not #lists.isEmpty(list)}" th:each=" book, i : ${list}">
                    <td class="img">
                        <a th:href="@{/mall/viewBook(book_no=${book?.book_no})}">
                            <img th:src="@{/imgs/book-imgs/} + ${book?.book_img}" alt="???"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/mall/viewBook(book_no=${book?.book_no})}"  th:text="${book?.book_nm}"></a>
                    </td>
                    <td th:text="${book?.book_author}"></td>
                    <td th:text="${book?.book_pub}"></td>
                    <td>
                        <span th:text="${book?.book_price} + 원"/>
                    </td>
                    <td>
                        <div id="btn-area">
                            <input type="hidden" name="qty" id="qty" value="1">
                            <input type="hidden" th:value="${book?.book_no}" id="book_no">
                            <button th:book_no="${book.book_no}" th:onclick="insertCart([[${book.book_no}]])" class="btn btn-primary button"
                                    th:if="${session.mem_no} != null">
                                장바구니
                            </button>
                            <a th:book_no="${book.book_no}" th:href="@{/member/login}" class="btn btn-primary button"
                                    th:unless="${session.mem_no} != null">
                                장바구니
                            </a>
                            <button th:book_no="${book.book_no}" th:onclick="goOrder([[${book.book_no}]])" class="btn btn-primary button">
                                구매하기
                            </button>
                        </div>
                    </td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(list)}">
                    <td colspan="6">
                        조회된 결과가 없습니다.
                    </td>
                </tr>
            </tbody>
        </table>

        <br>

    <th:block layout:fragment="paging">
        <nav th:replace="fragments/common :: pagination" class="pagination"></nav>
    </th:block>
    </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            function movePage(uri, queryString) {
                location.href = uri + queryString;
            }

            /*]]>*/
        </script>

    </th:block>
</div>
</html>