<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="css">
  <style>
    select {
      width: 20%;
    }

    .main-area {
      max-width: 1140px;
      margin: 0 auto;
    }

    .flex-area {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 0 auto;
    }

    .flex-box {
      width: 40%;
      margin: 0 20px;
    }
  </style>
</th:block>

<th:block layout:fragment="js">
  <script>
    $('.selectpicker').selectpicker({
      style: 'btn-info',
      size: 3
    });
  </script>
</th:block>

<!-- 메인 -->
<div class="main-area" layout:fragment="content">
  <form>
    <div class="input-group mb-3">
      <select class="selectpicker">
        <option selected>카테고리</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <input type="text" class="form-control" placeholder="검색어를 입력하세요." aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
    </div>
  </form>

  <div class="flex-area">
    <div class="flex-box">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">국내도서</li>
        <li class="list-group-item"><a href="#">건강</a></li>
        <li class="list-group-item"><a href="#">경제/경영</a></li>
        <li class="list-group-item"><a href="#">대학교재</a></li>
        <li class="list-group-item"><a href="#">만화</a></li>
        <li class="list-group-item"><a href="#">사회/정치</a></li>
        <li class="list-group-item"><a href="#">소설/시/희곡</a></li>
        <li class="list-group-item"><a href="#">수험서</a></li>
        <li class="list-group-item"><a href="#">어린이</a></li>
        <li class="list-group-item"><a href="#">에세이</a></li>
        <li class="list-group-item"><a href="#">여행</a></li>
        <li class="list-group-item"><a href="#">역사</a></li>
      </ul>
    </div>
    <div class="flex-box">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">국내도서</li>
        <li class="list-group-item"><a href="#">건강</a></li>
        <li class="list-group-item"><a href="#">경제/경영</a></li>
        <li class="list-group-item"><a href="#">대학교재</a></li>
        <li class="list-group-item"><a href="#">만화</a></li>
        <li class="list-group-item"><a href="#">사회/정치</a></li>
        <li class="list-group-item"><a href="#">소설/시/희곡</a></li>
        <li class="list-group-item"><a href="#">수험서</a></li>
        <li class="list-group-item"><a href="#">어린이</a></li>
        <li class="list-group-item"><a href="#">에세이</a></li>
        <li class="list-group-item"><a href="#">여행</a></li>
        <li class="list-group-item"><a href="#">역사</a></li>
      </ul>
    </div>
  </div>
</div>
</html>