<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head th:replace="fragments/head::headFragment">
</head>
<!-- 메인 -->
<div layout:fragment="content">
  <link th:href="@{/css/mall.css}" rel="stylesheet">
  <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
  <script th:src="@{/js/star-rating.min.js}"></script>
  <script th:src="@{/js/mall.js}"></script>
  <!-- 본문 영역 -->
  <!--상품 정보 영역-->
  <div class="product">
    <div class="img-area">
      <img th:src="@{/imgs/book-imgs/} + ${book.book_img}" alt="???"/>
    </div>
    <div class="info-area">
      <span class="book-title">
        <th:block th:class="book-title" th:text="${book.book_nm}"></th:block>
      </span>
      <br>
      <hr>
      <span th:text="${book.book_author}"></span><br>
      <span th:text="${book.book_pub}"></span><br>
      <span th:text="${book.book_desc}"></span><br>
      <br><br><br>
      <span th:class="price" th:text="${book.book_price} + 원"></span><br>
      수량 <input type="number" name="qty" id="qty" value="1"><br>
      <input type="hidden" th:value="${book.book_no}" id="book_no">
      <div class="mb-3" id="btn-area">
        <a id="insert-cart" onclick="insertCart()" class="btn btn-primary">
          장바구니
        </a>
        <a id="order-btn" onclick="goOrder()" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;구매&nbsp;&nbsp;&nbsp;
        </a>
      </div>
    </div>
  </div>
  <!--리뷰 영역-->
  <div class="review-area">
    <h2>리뷰</h2>
    <div class="right-btn" th:if="${session.mem_no != null}">
      <a th:href="@{/mall/writeReview(book_no=${#request.getParameter('book_no')})}" class="btn btn-primary">리뷰 작성하기</a>
    </div>
    <div th:each="rev : ${reviews}">
      <table>
        <tr>
          <td th:text="${rev.member.mem_uid}" class="id" rowspan="2"></td>
          <td th:text="${rev.rev_date}" class="date"></td>
        </tr>
        <tr>
          <td >
            <th:block th:each=" star : ${#numbers.sequence(1, 5)}">
              <span th:if="${rev.rev_rating >= star}">★</span>
              <span th:unless="${rev.rev_rating >= star}">☆</span>
            </th:block>
          </td>
        </tr>
        <tr>
          <td cl th:text="${rev.rev_title}" class="title" colspan="2"></td>
        </tr>
        <tr>
          <td colspan="5" th:text="${rev.rev_content}" class="content"></td>
        </tr>
        <tr th:if="${session.mem_no} == ${rev.mem_no}">
          <td colspan="2" style="text-align: right">
            <a class="btn btn-primary" th:href="@{/mall/updateReveiw(rev_no=${rev.rev_no})}">리뷰 수정하기</a>
          </td>
        </tr>
      </table>
      <!--댓글 적는 폼-->
      <form th:if="${session.mem_no != null}" th:action="@{/mall/insertRevCmt}" method="post"><!--회원만 작성 가능-->
        <input type="hidden" th:value="${#request.getParameter('book_no')}" name="book_no" required>
        <input type="hidden" th:value="${session.mem_no}" name="mem_no">
        <input type="hidden" th:value="${rev.rev_no}" name="rev_no">
        댓글 적기 <input type="text" name="cmt_content" style="width: 24.3%;">
        <input class="btn btn-primary" type="submit">
      </form>
      <table>
        <tr th:if="${rev.rev_no} == ${rev.rev_cmt.rev_no}" class="cmt-area">
          <td th:text="${rev.rev_cmt.member.mem_uid}" width="50px" style="border-right: #2470dc 1px solid;"></td>
          <td th:text="${rev.rev_cmt.cmt_content}" width="383px"></td>
          <td th:text="${rev.rev_cmt.cmt_date}" width="150px"></td>
        </tr>
      </table>
      <br>
    </div>
  </div>
</div>
</html>