<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>나와책::Me&Book</title>

        <!-- Bootstrap core CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link
            href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
            rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/common.css" rel="stylesheet">
        <style>
            table {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            table,
            td,
            tr {
                border: 1px solid black;
            }
            .search {
                position: relative;
                width: 300px;
            }

            #searchBook {
                width: 30%;
                border: 1px solid;
                border-radius: 20px;
                padding: 10px 12px;
                margin-left: 35%;
                margin-bottom: 10px;
                font-size: 15px;
            }
            img{
              width: 80px;
              height: 50px;
            }
        </style>
    </head>
    <body>

        <!-- 헤더 -->
        <nav class="py-2 bg-light border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                About
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-light"
                                aria-labelledby="dropdownMenuButton2">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <div class="dropdown">
                            <button
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Mall
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-light"
                                aria-labelledby="dropdownMenuButton2">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <div class="dropdown">
                            <button
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Mall
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-light"
                                aria-labelledby="dropdownMenuButton2">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <div class="dropdown">
                            <button
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                C/S
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-light"
                                aria-labelledby="dropdownMenuButton2">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="nav">
                    <li class="nav-item">
                        <a href="./member/login.html" class="nav-link link-dark px-2">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a href="./member/resister.html" class="nav-link link-dark px-2">회원</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark px-2">주문</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark px-2">도서</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 메인 로고 -->
        <header class="py-3 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">
                <h1 class="fs-4">나와책 메인 로고 자리</h1>
            </div>
        </header>

        <!-- 메인 -->

        <!-- 주문 목록 -->
        <div class="Searchorders">
            <input type="text" placeholder="검색어 입력" id="searchBook">
            <input class="btn btn-primary" type="button" value="검색" >
        </div>
        <!-- 개별 주문 조회, 수정 가능-->
        <div class="orderList">
            <form>
                <table>
                    <tr>
                        <td>주문 번호</td>
                        <td>회원 ID</td>
                        <td>주문 상품</td>
                        <td>처리 상태</td>
                        <td>주문 날짜</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                          <a href="updateOrders.html">
                            abcd
                          </a>
                        </td>
                        <td>
                          <img src="/images/book1.jpg">
                          1번책
                        </td>
                        <td>배송중</td>
                        <td>2022-05-01</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                          <a href="#">
                            abcd
                          </a>
                        </td>
                        <td>
                          <img src="/images/book2.jpg">
                          2번책
                        </td>
                        <td>배송중</td>
                        <td>2022-05-01</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                          <a href="#">
                            abcd
                          </a>
                        </td>
                        <td>
                          <img src="/images/book3.jpg">
                          3번책
                        </td>
                        <td>결제 완료</td>
                        <td>2022-05-01</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                          <a href="#">
                            abcd
                          </a>
                        </td>
                        <td>
                          <img src="/images/book4.png">
                          4번책
                        </td>
                        <td>배송 완료</td>
                        <td>2022-05-01</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                          <a href="#">
                            abcd
                          </a>
                        </td>
                        <td>
                          <img src="/images/book5.jpg">
                          5번책
                        </td>
                        <td>배송 완료</td>
                        <td>2022-05-01</td>
                    </tr>
                </table>
            </form>
        </div>

        <!-- 푸터 -->
        <div class="container">
            <footer class="row row-cols-5 py-5 my-5 border-top">
                <div class="col">
                    <a
                        href="/"
                        class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    </a>
                    <p class="text-muted">&copy; 2021</p>
                </div>

                <div class="col"></div>

                <div class="col">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Home</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Features</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">About</a>
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Home</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Features</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">About</a>
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Home</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Features</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">About</a>
                        </li>
                    </ul>
                </div>

                <p>
                    <a href="#">Back to top</a>
                </p>
            </footer>
        </div>

        <!-- 부트스트랩 설정 -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </body>
</html>