<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">

<th:block layout:fragment="css">
  <style>
    .main-area {
      max-width: 1140px;
      margin: 0 auto;
    }

    #title {
      margin-bottom: 30px;
    }

    .mb-3 {
      width: 300px;
    }

    .pagination {
      justify-content: center;
    }
  </style>
  </th:block>

<!-- 메인 -->
<div layout:fragment="content">
<main class="main-area">
  <div id="title">
    <h1>고객 1:1 문의 내역</h1>
  </div>

<!--  <div class="input-group mb-3">-->
<!--    <input type="search" class="form-control" placeholder="검색어 입력" aria-describedby="button-addon2">-->
<!--    <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>-->
<!--  </div>-->

  <form th:action="@{/cs/qna/searchQna}" class="input-group mb-3">
    <select class="form-select" aria-label="Default select example" th:name="searchKeyword">
      <option value="1">[반품,교환 문의]</option>
      <option value="2">[결제 문의]</option>
      <option value="3">[상품 문의]</option>
      <option value="4">[배송 문의]</option>
      <option value="5">[개인정보 문의]</option>
      <option value="6">[기타 문의]</option>
    </select>
    <input class="btn btn-primary" th:type="submit" value="검색">
  </form>

  <table class="table caption-top">
    <colgroup>
      <col width="15%">
      <col width="60%">
      <col width="15%">
      <col width="10%">
    </colgroup>
    <thead class="table-light">
    <tr>
      <th scope="col">카테고리</th>
      <th scope="col">문의제목</th>
      <th scope="col">등록일</th>
      <th scope="col">답변상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${not #lists.isEmpty(list)}" th:each="list : ${list}">
      <td>
        <span th:switch="${list.q_cate}">
          <b><span th:case="1">[반품, 교환 문의]</span></b>
          <b><span th:case="2">[결제 문의]</span></b>
          <b><span th:case="3">[상품 문의]</span></b>
          <b><span th:case="4">[배송 문의]</span></b>
          <b><span th:case="5">[개인정보 문의]</span></b>
          <b><span th:case="6">[기타 문의]</span></b>
        </span>
      </td>
      <td class="text-left">
        <a th:href="@{/cs/qna/viewAdminQna(q_no=${list.q_no})}" th:text="${list.q_title}"></a>
      </td>
      <td th:text="${list.q_date}"></td>
      <td th:switch="${list.access_level}">
        <span th:case="0">답변대기</span>
        <span th:case="1">답변완료</span>
      </td>
    </tr>
    <tr th:unless="${not #lists.isEmpty(list)}" style="text-align: center">
      <td colspan="5">조회된 결과가 없습니다.</td>
    </tr>
    </tbody>
  </table>

  <th:block layout:fragment="paging">
    <nav th:replace="fragments/common :: pagination" class="pagination"></nav>
  </th:block>

</main>
</div>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    function movePage(uri, queryString) {
      location.href = uri + queryString;
    }
    /*]]>*/
  </script>
</th:block>
</html>
