<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나와책::Me&Book</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="common.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      textarea {
        resize: none;
      }

      #btn-area {
        text-align: center;
      }

      a {
        text-decoration: none;
        color: #777;
      }
    </style>
</head>
<body>
    
<!-- 헤더 -->
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </button>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Mall
          </button>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Mall
          </button>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            C/S
          </button>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="nav">
      <li class="nav-item"><a th:href="@{/member/login}" class="nav-link link-dark px-2">로그인</a></li>
      <li class="nav-item"><a th:href="@{/member/register}" class="nav-link link-dark px-2">회원가입</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">장바구니</a></li>
    </ul>
  </div>
</nav>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <h1 class="fs-4">나와책 메인 로고 자리</h1>
  </div>
</header>


<!-- 메인 -->
<main class="container">
  <div class="mb-3">
    <div>
      <b><span th:text="${q.q_title}"></span></b>
    </div>
  </div>

  <hr>

  <div class="mb-3">
      <span th:switch="${q.q_cate}">
        <b><span th:case="1">[반품, 교환 문의]</span></b>
        <b><span th:case="2">[결제 문의]</span></b>
        <b><span th:case="3">[상품 문의]</span></b>
        <b><span th:case="4">[배송 문의]</span></b>
        <b><span th:case="5">[개인정보 문의]</span></b>
        <b><span th:case="6">[기타 문의]</span></b>
      </span>
  </div>

  <hr>

  <div class="mb-3">
    <b><span th:text="${q.q_content}"></span></b>
  </div>

  <div class="mb-3" id="btn-area">
<!--      <a class="btn btn-primary" th:href="@{/cs/qna/updateQna(q_no=${q_no})}" th:if="${mem_no} == 세션 회원 번호" th:text="'문의수정'"/>-->
<!--      <a class="btn btn-primary" th:href="@{/cs/qna/deleteQnaQ(q_no=${q_no})}" th:if="${mem_no} == 세션 회원 번호" th:text="'문의수정'"/>-->
    <a class="btn btn-primary" th:href="@{/cs/qna/updateQnaQ(q_no=${q.q_no})}" th:text="'문의수정'"/>
    <a class="btn btn-primary" th:href="@{/cs/qna/deleteQnaQ(q_no=${q.q_no})}" th:text="'문의삭제'"/>
    <a class="btn btn-primary" href="../../index.html">홈으로</a>
  </div>

  <!-- 관리자 답변 - if문 이렇게 써도 되는지 나중에 확인하고 수정 필요 -->
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">문의 답변</h6>

    <th:block class="d-flex text-muted pt-3" th:if="${a} != null">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">나와책</strong>
        <span th:text="${a.a_content}"></span>
      </p>
      <div class="d-flex text-muted pt-3" th:text="${a_date}"></div>
    </th:block>

    <th:block th:unless="${a} != null">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">나와책</strong>
        <span th:text="'아직 답변이 없습니다.'"></span>
      </p>
    </th:block>

    <br>

  </div>

</main>


  
<!-- 푸터 -->
<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="text-muted">&copy; 2021</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
</div>

    <!-- 부트스트랩 설정 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
