<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
  <th:block layout:fragment="css">
    <style>
      textarea {
        resize: none;
      }

      #btn-area {
        text-align: center;
      }

      a {
        text-decoration: none;
        color: #777;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
<!-- 메인 -->
<main class="container">
  <div class="mb-3">
      <span th:switch="${q.q_cate}">
        <b><span th:case="1">[반품, 교환 문의] </span></b>
        <b><span th:case="2">[결제 문의] </span></b>
        <b><span th:case="3">[상품 문의] </span></b>
        <b><span th:case="4">[배송 문의] </span></b>
        <b><span th:case="5">[개인정보 문의] </span></b>
        <b><span th:case="6">[기타 문의] </span></b>
      </span>
    <span th:text="${q.q_title}"/>
  </div>

  <hr>

  <div class="mb-3">
    <b><span th:text="${q.q_content}"></span></b>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">문의 답변</h6>

    <div class="d-flex text-muted pt-3" th:if="${a} == null">
      <form th:action="@{/cs/qna/insertQnaA_ok}">
        <div class="input-group has-validation">
          <input type="hidden" th:value="${q.q_no}" th:name="q_no">
          <input type="hidden" th:value="${q.mem_no}" th:name="mem_no">
          <input type="text" class="form-control" placeholder="답변을 입력하세요" th:name="a_content">
          <div class="mb-3" id="btn-area">
            <input class="btn btn-primary" th:type="submit" value="등록">
          </div>
        </div>
      </form>
    </div>

  <div class="d-flex text-muted pt-3" th:unless="${a} == null">
    <form th:action="@{/cs/qna/updateQnaA}">
      <input type="hidden" th:value="${q.q_no}" th:name="q_no">
<!--      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>-->
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">나와책</strong>
        <input th:value="${a.a_content}" type="text" th:name="a_content">
        <span class="d-flex text-muted pt-3" th:text="${a_date}"></span>
      </p>
      <input class="btn btn-primary" th:type="submit" value="수정완료">
      <a class="btn btn-primary" th:href="@{/cs/qna/deleteQnaA(q_no=${q.q_no})}">삭제</a>
    </form>
  </div>
  </div>
</main>
  </div>
</html>
